* {
    margin:0;
    padding:0;
    font-size: 23px;
}

body {
    background-color: rgba(174, 217, 224 , 0.2);

}

.radio {
    text-align: center;
}

main {
    text-align: center;
}

.tables {
    display: inline-block;
    height: 525px;
    width: 525px;
}

.field {
    user-select: none;
    touch-action: none;
    display: inline-block;
    margin: 20px 20px;
    width: auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container {
    text-align: center;
}

.infoContainer {
    text-align: center;
}

.infoCell {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid #5E6472;
}

.infoShip {
    margin: 10px 10px;
    display: inline-block;
    color: #5E6472;
}

.col {
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #5E6472;
}

.coordinates {
    border: 1px solid rgba(0, 0, 0, 0);
    color: #5E6472;
    font-weight: bold;
}

.collision {
    background: rgba(255, 166, 158,0.5);
}

.ship {
    background: #5E6472;
}

.selectedInfoShip {
    background: rgba(255, 166, 158,0.15);
}

.hit {
    background: rgba(102, 43, 33, 0.98);
    color: white;
}

.miss {
    background: rgba(255, 166, 158,0.5);
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

input {
    border: 1px solid #888888;
    padding: 8px;
}

span {
    font-size: 40px;
}

p {
    font-size: 30px;
    font-weight: bold;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background: rgba(174, 217, 224 , 0.2);
    z-index: 10;
    pointer-events: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}